<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="brokerServer" type="MQ.BrokerServer.ServerConfigSection, MQ.BrokerServer" />
  </configSections>
  <brokerServer ip="Any" port="52789" textEncoding="utf-8" receiveBufferSize="10240" maxConnectionNumber="10000" sendBufferSize="10240" maxRequestLength="10240"/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
